
<div class="page page-core page-login">
  <div class="text-center">
    <h3 class="text-light text-white"><span class="text-lightred">M</span>M</h3>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
      <h2 class="text-light text-greensea">Log In</h2>
      <form name="form" ng-submit="login(form)" novalidate="" class="form-validation mt-20">
        <div class="form-group">
          <input type="email" placeholder="Email" ng-model="user.email" required="" class="form-control underline-input"/>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" ng-model="user.password" required="" class="form-control underline-input"/>
        </div>
        <div class="form-group has-error">
          <p ng-show="form.email.$error.required &amp;&amp; form.password.$error.required &amp;&amp; submitted" class="help-block">Please enter your email and password.</p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div class="form-group text-left mt-20">
          <button type="submit" ng-click="login()" ng-disabled="form.$invalid" class="btn btn-greensea b-0 br-2 mr-5">Login</button>
          <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
            <input type="checkbox"/><i></i> Remember me
          </label><a ui-sref="recover" class="pull-right mt-10">Forgot Password?</a>
        </div>
      </form>
      <hr class="b-3x"/>
      <div class="social-login text-left">
        <ul class="pull-right list-unstyled list-inline">
          <li class="p-0"><a href="javascript:;" class="btn btn-sm btn-primary b-0 btn-rounded-20"><i class="fa fa-facebook"></i></a></li>&#x9;&#x9;&#x9;&#x9;
          <li class="p-0"><a href="javascript:;" class="btn btn-sm btn-info b-0 btn-rounded-20"><i class="fa fa-twitter"></i></a></li>&#x9;&#x9;&#x9;&#x9;
          <li class="p-0"><a href="javascript:;" class="btn btn-sm btn-lightred b-0 btn-rounded-20"><i class="fa fa-google-plus"></i></a></li>&#x9;&#x9;&#x9;&#x9;
          <li class="p-0"><a href="javascript:;" class="btn btn-sm btn-primary b-0 btn-rounded-20"><i class="fa fa-linkedin"></i></a></li>
        </ul>&#x9;&#x9;&#x9;
        <h5>Or login with</h5>
      </div>    
      <div class="bg-slategray lt wrap-reset mt-40">
        <p class="m-0"><a ui-sref="signup" class="text-uppercase">Create an account</a></p>
      </div>
    </div>
  </div>
</div>