.page.page-core.page-login
  .text-center
    h3.text-light.text-white
      span.text-lightred M
      | M
    .container.w-420.p-15.bg-white.mt-40.text-center
      h2.text-light.text-greensea Log In
      form.form-validation.mt-20(name='form', ng-submit='login(form)', novalidate='')
        .form-group
          input.form-control.underline-input(type='email', placeholder='Email', ng-model='user.email', required='')
        .form-group
          input.form-control.underline-input(type='password', placeholder='Password', ng-model='user.password', required='')
        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
            | Please enter your email and password.
          p.help-block {{ errors.other }}
        .form-group.text-left.mt-20
          button.btn.btn-greensea.b-0.br-2.mr-5(type='submit', ng-click='login()', ng-disabled='form.$invalid') Login
          label.checkbox.checkbox-custom.checkbox-custom-sm.inline-block
            input(type='checkbox')
            i
            |  Remember me
          a.pull-right.mt-10(ui-sref='recover') Forgot Password?
      hr.b-3x
      .social-login.text-left
        ul.pull-right.list-unstyled.list-inline
          li.p-0
            a.btn.btn-sm.btn-primary.b-0.btn-rounded-20(href='javascript:;')
              i.fa.fa-facebook
          | &#x9;&#x9;&#x9;&#x9;
          li.p-0
            a.btn.btn-sm.btn-info.b-0.btn-rounded-20(href='javascript:;')
              i.fa.fa-twitter
          | &#x9;&#x9;&#x9;&#x9;
          li.p-0
            a.btn.btn-sm.btn-lightred.b-0.btn-rounded-20(href='javascript:;')
              i.fa.fa-google-plus
          | &#x9;&#x9;&#x9;&#x9;
          li.p-0
            a.btn.btn-sm.btn-primary.b-0.btn-rounded-20(href='javascript:;')
              i.fa.fa-linkedin
        | &#x9;&#x9;&#x9;
        h5 Or login with
      |     
      .bg-slategray.lt.wrap-reset.mt-40
        p.m-0
          a.text-uppercase(ui-sref='signup') Create an account
