
<header ng-controller="HeaderCtrl" class="clearfix">
  <!-- Branding-->
  <div class="branding {{main.settings.brandingColor}}"><a ui-sref="app.dashboard" class="brand"><span><strong>M</strong>M</span></a></div>
  <!-- Branding end-->
  <!-- Left-side navigation-->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right"><a href="javascript:;" collapse-sidebar=""><i class="fa fa-outdent"></i></a></li>
    <li on-toggle="toggled(open)" class="dropdown divided-right settings"><a href="" class="dropdown-toggle"><i class="fa fa-cog"></i></a>
      <ul class="dropdown-menu with-arrow animated littleFadeInUp">
        <li>
          <ul class="color-schemes list-inline">
            <li class="title">Header Color:</li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-default'; $event.stopPropagation()" class="scheme-drank"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-black'; $event.stopPropagation()" class="scheme-black"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-greensea'; $event.stopPropagation()" class="scheme-greensea"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-cyan'; $event.stopPropagation()" class="scheme-cyan"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-lightred'; $event.stopPropagation()" class="scheme-lightred"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.navbarHeaderColor='scheme-light'; $event.stopPropagation()" class="scheme-light"></a></li>
            <li class="title">Branding Color:</li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-default'; $event.stopPropagation()" class="scheme-drank"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-black'; $event.stopPropagation()" class="scheme-black"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-greensea'; $event.stopPropagation()" class="scheme-greensea"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-cyan'; $event.stopPropagation()" class="scheme-cyan"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-lightred'; $event.stopPropagation()" class="scheme-lightred"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.brandingColor='scheme-light'; $event.stopPropagation()" class="scheme-light"></a></li>
            <li class="title">Sidebar Color:</li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-default'; $event.stopPropagation()" class="scheme-drank"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-black'; $event.stopPropagation()" class="scheme-black"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-greensea'; $event.stopPropagation()" class="scheme-greensea"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-cyan'; $event.stopPropagation()" class="scheme-cyan"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-lightred'; $event.stopPropagation()" class="scheme-lightred"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.sidebarColor='scheme-light'; $event.stopPropagation()" class="scheme-light"></a></li>
            <li class="title">Active Color:</li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='drank-scheme-color'; $event.stopPropagation()" class="scheme-drank"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='black-scheme-color'; $event.stopPropagation()" class="scheme-black"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='default-scheme-color'; $event.stopPropagation()" class="scheme-greensea"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='cyan-scheme-color'; $event.stopPropagation()" class="scheme-cyan"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='lightred-scheme-color'; $event.stopPropagation()" class="scheme-lightred"></a></li>
            <li><a href="javascript:;" ng-click="main.settings.activeColor='light-scheme-color'; $event.stopPropagation()" class="scheme-light"></a></li>
          </ul>
        </li>
        <li>
          <div class="form-group ng-scope">
            <div class="row">
              <label class="col-xs-8 control-label">Fixed header</label>
              <div class="col-xs-4 control-label">
                <div ng-click="$event.stopPropagation()" class="onoffswitch lightred small">
                  <input id="fixed-header" type="checkbox" name="onoffswitch" checked="" ng-model="main.settings.headerFixed" class="onoffswitch-checkbox"/>
                  <label for="fixed-header" class="onoffswitch-label"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="form-group ng-scope">
            <div class="row">
              <label class="col-xs-8 control-label">Fixed aside</label>
              <div class="col-xs-4 control-label">
                <div ng-click="$event.stopPropagation()" class="onoffswitch lightred small">
                  <input id="fixed-aside" type="checkbox" name="onoffswitch" checked="" ng-model="main.settings.asideFixed" class="onoffswitch-checkbox"/>
                  <label for="fixed-aside" class="onoffswitch-label"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Left-side navigation end-->
  <!-- Search-->
  <div id="main-search" class="search">
    <input type="text" placeholder="Search..." class="form-control underline-input"/>
  </div>
  <!-- Search end-->
  <!-- Right-side navigation-->
  <ul class="nav-right pull-right list-inline">
    <li on-toggle="toggled(open)" class="dropdown users"><a href="" class="dropdown-toggle"><i class="fa fa-user"></i><span class="badge bg-lightred">2</span></a>
      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInUp">
        <div class="panel-heading">You have <strong>2</strong> requests</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/arnold-avatar.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">Arnold sent you a request</span><small class="text-muted">15 minutes ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/george-avatar.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">George sent you a request</span><small class="text-muted">5 hours ago</small></div></a></li>
        </ul>
        <div class="panel-footer"><a href="javascript:;">Show all requests 
            <fa name="angle-right" class="pull-right"></fa></a></div>
      </div>
    </li>
    <li on-toggle="toggled(open)" class="dropdown messages"><a href="" class="dropdown-toggle"><i class="fa fa-envelope"></i><span class="badge bg-lightred">4</span></a>
      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInDown">
        <div class="panel-heading">You have <strong>4</strong> messages</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/ici-avatar.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">Imrich sent you a message</span><small class="text-muted">12 minutes ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/peter-avatar.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">Peter sent you a message</span><small class="text-muted">46 minutes ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/random-avatar1.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">Bill sent you a message</span><small class="text-muted">1 hour ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object thumb thumb-sm"><img src="assets/images/random-avatar3.jpg" alt="" class="img-circle"/></span>
              <div class="media-body"><span class="block">Ken sent you a message</span><small class="text-muted">3 hours ago</small></div></a></li>
        </ul>
        <div class="panel-footer"><a href="javascript:;">Show all messages 
            <fa name="angle-right" class="pull-right"></fa></a></div>
      </div>
    </li>
    <li on-toggle="toggled(open)" class="dropdown notifications"><a href="" class="dropdown-toggle"><i class="fa fa-bell"></i><span class="badge bg-lightred">3</span></a>
      <div class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft">
        <div class="panel-heading">You have <strong>3</strong> notifications</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object media-icon bg-danger"><i class="fa fa-ban"></i></span>
              <div class="media-body"><span class="block">User Imrich cancelled account</span><small class="text-muted">6 minutes ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object media-icon bg-primary"><i class="fa fa-bolt"></i></span>
              <div class="media-body"><span class="block">New user registered</span><small class="text-muted">12 minutes ago</small></div></a></li>
          <li class="list-group-item"><a href="javascript:;" class="media"><span class="pull-left media-object media-icon bg-greensea"><i class="fa fa-lock"></i></span>
              <div class="media-body"><span class="block">User Robert locked account</span><small class="text-muted">18 minutes ago</small></div></a></li>
        </ul>
        <div class="panel-footer"><a href="javascript:;">Show all notifications 
            <fa name="angle-right" class="pull-right"></fa></a></div>
      </div>
    </li>
    <li on-toggle="toggled(open)" class="dropdown nav-profile"><a href="" class="dropdown-toggle"><img src="assets/images/profile-photo.jpg" alt="" class="img-circle size-30x30"/><span>{{ getCurrentUser().name }}<i class="fa fa-angle-down"></i></span></a>
      <ul class="dropdown-menu animated littleFadeInRight">
        <li><a href="#"><span class="badge bg-greensea pull-right">86%</span><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="#"><span class="label bg-lightred pull-right">new</span><i class="fa fa-check"></i>Tasks</a></li>
        <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
        <li class="divider"></li>
        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
      </ul>
    </li>
    <li class="toggle-right-sidebar"><a href="javascript:;" ng-click="main.settings.rightbarShow = !main.settings.rightbarShow"><i class="fa fa-comments"></i></a></li>
  </ul>
  <!-- Right-side navigation end-->
</header>