#sidebar-wrap(ng-controller='NavCtrl')
  accordion(close-others='oneAtTime', slimscroll="{height: '100%'}")
    accordion-group(is-open='status.isFirstOpen', ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}")
      accordion-heading
        | Navigation 
        i.fa(ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}")
      ul#navigation(nav-collapse='', ripple='')
        li(ui-sref-active='active')
          a(ui-sref='main.dashboard')
            i.fa.fa-dashboard
            span Dashboard
        li(ui-sref-active='active', ng-class="{'open':$state.includes('main.minutes')}")
          a(ui-sref='main.minutes')
            i.fa.fa-briefcase
            span Minutes
          ul.dropdown
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-mine')
                i.fa.fa-caret-right
                |  Authored by me
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-others')
                i.fa.fa-caret-right
                |  By others
        li(ui-sref-active='active', ng-class="{'open':$state.includes('main.minutes')}")
          a(ui-sref='main.minutes')
            i.fa.fa-briefcase
            span Reminders
          ul.dropdown
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-mine')
                i.fa.fa-caret-right
                |  My reminders
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-others')
                i.fa.fa-caret-right
                |  By others
        li(ui-sref-active='active', ng-class="{'open':$state.includes('main.minutes')}")
          a(ui-sref='main.minutes')
            i.fa.fa-cog
            span Administration
          ul.dropdown
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-mine')
                i.fa.fa-caret-right
                |  Templates
            li(ui-sref-active='active')
              a(ui-sref='main.minutes.list-others')
                i.fa.fa-caret-right
                |  Users
            li(ui-sref-active='active')
              a(ui-sref='app.ui.portlets')
                i.fa.fa-caret-right
                |  Visibility
            li(ui-sref-active='active')
              a(ui-sref='app.ui.portlets')
                i.fa.fa-caret-right
                |  Account