.page.page-core.page-login
  .text-center
      h3.text-light.text-white
        span.text-lightred M
        | M
    .container.w-420.p-15.bg-white.mt-40.text-center
      h2.text-light.text-greensea Forgot Password?
      form.form-validation.mt-20(name='form', novalidate='')
        p.help-block.text-left
          | Enter your e-mail address below to reset your password.
        .form-group
          input.form-control.underline-input(type='email', placeholder='Email', ng-model='user.email', required='')
      .bg-slategray.lt.wrap-reset.mt-40.text-left
        p.m-0
          a.btn.btn-greensea.b-0.text-uppercase.pull-right(ui-sref='core.login', ng-disabled='form.$invalid') Submit
          a.btn.btn-lightred.b-0.text-uppercase(ui-sref='login') Back