
<div class="page page-tiles">
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-home"></i> {{main.title}}</a></li>
        <li><a ui-sref="main.minutes.list">{{page.title}}</a></li>
      </ul>
    </div>
  </div>
  <!-- page content-->
  <div class="pagecontent">
    <!-- row-->
    <div class="row">
      <!-- col-->
      <div class="col-md-4">
        <!-- tile-->
        <section fullscreen="isFullscreen05" class="tile">
          <!-- tile header-->
          <div class="tile-header bg-slategray text-center">
            <button type="button" class="btn bg-tr-black pull-left btn-black-transparent"><i class="fa fa-caret-square-o-down"></i></button>
            <h4 class="custom-font text-uppercase"><strong>Add</strong> a new meeting</h4>
            <ul class="controls">
              <li on-toggle="toggled(open)" class="dropdown"><a href="" class="dropdown-toggle settings"><i class="fa fa-cog"></i>
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li><a href="" tile-control-toggle=""><span class="minimize">
                          <fa name="angle-down"></fa>   Minimize</span><span class="expand">
                          <fa name="angle-up"></fa>   Expand</span></a></li>
                    <li><a href="" tile-control-fullscreen="" ng-click="isFullscreen05 = !isFullscreen05">
                        <fa name="expand"></fa></a></li>
                  </ul> Fullscreen</a></li>
              <li class="remove"><a href="" tile-control-close=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!--tile header-->
          <!-- tile widget-->
          <div class="tile-widget">
            <p>This is tile widget area.</p>
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body">
            <p>This is tile body area.</p>
          </div>
          <!-- /tile body-->
          <!-- tile footer-->
          <div class="tile-footer">
            <p>This is tile footer area.</p>
          </div>
          <!-- /tile footer-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /col-->
      <!-- col-->
      <div class="col-md-4">
        <!-- tile-->
        <section fullscreen="isFullscreen05" class="tile">
          <!-- tile header-->
          <div class="tile-header bg-slategray text-center">
            <button type="button" class="btn bg-tr-black pull-left btn-black-transparent"><i class="fa fa-caret-square-o-down"></i></button>
            <h4 class="custom-font text-uppercase"><strong></strong> with Button</h4>
            <ul class="controls">
              <li on-toggle="toggled(open)" class="dropdown"><a href="" class="dropdown-toggle settings"><i class="fa fa-cog"></i>
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li><a href="" tile-control-toggle=""><span class="minimize">
                          <fa name="angle-down"></fa>   Minimize</span><span class="expand">
                          <fa name="angle-up"></fa>   Expand</span></a></li>
                    <li><a href="" tile-control-fullscreen="" ng-click="isFullscreen05 = !isFullscreen05">
                        <fa name="expand"></fa></a></li>
                  </ul> Fullscreen</a></li>
              <li class="remove"><a href="" tile-control-close=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!--tile header-->
          <!-- tile widget-->
          <div class="tile-widget">
            <p>This is tile widget area.</p>
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body">
            <p>This is tile body area.</p>
          </div>
          <!-- /tile body-->
          <!-- tile footer-->
          <div class="tile-footer">
            <p>This is tile footer area.</p>
          </div>
          <!-- /tile footer-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /col-->
      <!-- col-->
      <div class="col-md-4">
        <!-- tile-->
        <section fullscreen="isFullscreen05" class="tile">
          <!-- tile header-->
          <div class="tile-header bg-slategray text-center">
            <button type="button" class="btn bg-tr-black pull-left btn-black-transparent"><i class="fa fa-caret-square-o-down"></i></button>
            <h4 class="custom-font text-uppercase"><strong>{{meetingMinute.name}}</strong></h4>
            <ul class="controls">
              <li on-toggle="toggled(open)" class="dropdown"><a href="" class="dropdown-toggle settings"><i class="fa fa-cog"></i>
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li><a href="" tile-control-toggle=""><span class="minimize">
                          <fa name="angle-down"></fa>   Minimize</span><span class="expand">
                          <fa name="angle-up"></fa>   Expand</span></a></li>
                    <li><a href="" tile-control-fullscreen="" ng-click="isFullscreen05 = !isFullscreen05">
                        <fa name="expand"></fa></a></li>
                  </ul> Fullscreen</a></li>
              <li class="remove"><a href="" tile-control-close=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!--tile header-->
          <!-- tile widget-->
          <div class="tile-widget">
            <!-- row-->
            <div class="row">
              <!-- col-->
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                  <label class="form-control">Client's office</label>
                </div>
              </div>
              <!-- /col-->
              <!-- col-->
              <div class="col-md-6">
                <p class="input-group">
                  <input type="text" datepicker-popup="dd-MM-yyyy" is-open="opened" show-button-bar="false" ng-model="meetingMinute.date" date-disabled="disabled(date, mode)" close-text="Close" disabled="disabled" class="form-control"/><span class="input-group-btn">
                    <button type="button" ng-click="open($event)" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                </p>
              </div>
              <!-- /col-->
            </div>
            <!-- /row-->
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body">
            <h4 class="custom-font text-strong">Main topic</h4>
            <p class="lead">{{meetingMinute.topic}}</p>
          </div>
          <!-- /tile body-->
          <!-- tile footer-->
          <div class="tile-footer row">
            <div class="col-xs-3 text-center">
              <div class="card-container">
                <div class="card">
                  <div class="front bg-greensea">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-users fa-2x"></i>
                  </div>
                  <div class="back bg-greensea">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-users fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-center">
              <div class="card-container">
                <div class="card">
                  <div class="front front bg-lightred">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-thumbs-up fa-2x"></i>
                  </div>
                  <div class="back front bg-lightred">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-thumbs-up fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="card-container">
                <div class="card">
                  <div class="front front bg-slategray">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-bullseye fa-2x"></i>
                  </div>
                  <div class="back front bg-slategray">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-bullseye fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-center">
              <div class="card-container">
                <div class="card">
                  <div class="front front bg-blue">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-comments fa-2x"></i>
                  </div>
                  <div class="back front bg bg-blue">
                    <p class="text-elg text-strong mb-0">4</p><i class="fa fa-comments fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /tile footer-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /col-->
      <!-- col-->
      <div class="col-md-4">
        <!-- tile-->
        <section fullscreen="isFullscreen05" class="tile">
          <!-- tile header-->
          <div class="tile-header bg-slategray text-center">
            <button type="button" class="btn bg-tr-black pull-left btn-black-transparent"><i class="fa fa-caret-square-o-down"></i></button>
            <h4 class="custom-font text-uppercase"><strong>Heading</strong> with Button</h4>
            <ul class="controls">
              <li on-toggle="toggled(open)" class="dropdown"><a href="" class="dropdown-toggle settings"><i class="fa fa-cog"></i>
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li><a href="" tile-control-toggle=""><span class="minimize">
                          <fa name="angle-down"></fa>   Minimize</span><span class="expand">
                          <fa name="angle-up"></fa>   Expand</span></a></li>
                    <li><a href="" tile-control-fullscreen="" ng-click="isFullscreen05 = !isFullscreen05">
                        <fa name="expand"></fa></a></li>
                  </ul> Fullscreen</a></li>
              <li class="remove"><a href="" tile-control-close=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!--tile header-->
          <!-- tile widget-->
          <div class="tile-widget">
            <p>This is tile widget area.</p>
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body">
            <p>This is tile body area.</p>
          </div>
          <!-- /tile body-->
          <!-- tile footer-->
          <div class="tile-footer">
            <p>This is tile footer area.</p>
          </div>
          <!-- /tile footer-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /col-->
      <!-- col-->
      <div class="col-md-4">
        <!-- tile-->
        <section fullscreen="isFullscreen05" class="tile">
          <!-- tile header-->
          <div class="tile-header bg-slategray text-center">
            <button type="button" class="btn bg-tr-black pull-left btn-black-transparent"><i class="fa fa-caret-square-o-down"></i></button>
            <h4 class="custom-font text-uppercase"><strong>Heading</strong> with Button</h4>
            <ul class="controls">
              <li on-toggle="toggled(open)" class="dropdown"><a href="" class="dropdown-toggle settings"><i class="fa fa-cog"></i>
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li><a href="" tile-control-toggle=""><span class="minimize">
                          <fa name="angle-down"></fa>   Minimize</span><span class="expand">
                          <fa name="angle-up"></fa>   Expand</span></a></li>
                    <li><a href="" tile-control-fullscreen="" ng-click="isFullscreen05 = !isFullscreen05">
                        <fa name="expand"></fa></a></li>
                  </ul> Fullscreen</a></li>
              <li class="remove"><a href="" tile-control-close=""><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!--tile header-->
          <!-- tile widget-->
          <div class="tile-widget">
            <p>This is tile widget area.</p>
          </div>
          <!-- /tile widget-->
          <!-- tile body-->
          <div class="tile-body">
            <p>This is tile body area.</p>
          </div>
          <!-- /tile body-->
          <!-- tile footer-->
          <div class="tile-footer">
            <p>This is tile footer area.</p>
          </div>
          <!-- /tile footer-->
        </section>
        <!-- /tile-->
      </div>
      <!-- /col-->
    </div>
    <!-- /row-->
  </div>
  <!-- /page content-->
</div>