html
  body
    tabset(justified='true')
      tab#users
        tab-heading
          fa(name='users')
        h6
          strong Online
          |  Users
        ul
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/ici-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | Ing. Imrich 
                  strong Kamarel
                small
                  i.fa.fa-map-marker
                  |  Ulaanbaatar, Mongolia
                span.badge.badge-outline.status
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/arnold-avatar.jpg', alt='')
              span.badge.bg-lightred.unread 3
              .media-body
                span.media-heading
                  | Arnold 
                  strong Karlsberg
                small
                  i.fa.fa-map-marker
                  |  Bratislava, Slovakia
                span.badge.badge-outline.status
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/peter-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | Peter 
                  strong Kay
                small
                  i.fa.fa-map-marker
                  |  Kosice, Slovakia
                span.badge.badge-outline.status
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/george-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | George 
                  strong McCain
                small
                  i.fa.fa-map-marker
                  |  Prague, Czech Republic
                span.badge.badge-outline.status
          li.busy
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar1.jpg', alt='')
              .media-body
                span.media-heading
                  | Lucius 
                  strong Cashmere
                small
                  i.fa.fa-map-marker
                  |  Wien, Austria
                span.badge.badge-outline.status
          li.busy
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar2.jpg', alt='')
              .media-body
                span.media-heading
                  | Jesse 
                  strong Phoenix
                small
                  i.fa.fa-map-marker
                  |  Berlin, Germany
                span.badge.badge-outline.status
        h6
          strong Offline
          |  Users
        ul
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar4.jpg', alt='')
              .media-body
                span.media-heading
                  | Dell 
                  strong MacApple
                small
                  i.fa.fa-map-marker
                  |  Paris, France
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar5.jpg', alt='')
              .media-body
                span.media-heading
                  | Roger 
                  strong Flopple
                small
                  i.fa.fa-map-marker
                  |  Rome, Italia
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar6.jpg', alt='')
              .media-body
                span.media-heading
                  | Nico 
                  strong Vulture
                small
                  i.fa.fa-map-marker
                  |  Kyjev, Ukraine
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar7.jpg', alt='')
              .media-body
                span.media-heading
                  | Bobby 
                  strong Socks
                small
                  i.fa.fa-map-marker
                  |  Moscow, Russia
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar8.jpg', alt='')
              .media-body
                span.media-heading
                  | Anna 
                  strong Opichia
                small
                  i.fa.fa-map-marker
                  |  Budapest, Hungary
                span.badge.badge-outline.status
      tab
        tab-heading
          fa(name='clock-o')
        h6
          strong Chat
          |  History
        ul
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/ici-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | Ing. Imrich 
                  strong Kamarel
                small Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                span.badge.badge-outline.status
          li.busy
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/arnold-avatar.jpg', alt='')
              span.badge.bg-lightred.unread 3
              .media-body
                span.media-heading
                  | Arnold 
                  strong Karlsberg
                small
                  | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/peter-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | Peter 
                  strong Kay
                small
                  | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                span.badge.badge-outline.status
      tab
        tab-heading
          fa(name='heart')
        h6
          strong Friends
          |  List
        ul
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/arnold-avatar.jpg', alt='')
              span.badge.bg-lightred.unread 3
              .media-body
                span.media-heading
                  | Arnold 
                  strong Karlsberg
                small
                  i.fa.fa-map-marker
                  |  Bratislava, Slovakia
                span.badge.badge-outline.status
          li.offline
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar8.jpg', alt='')
              .media-body
                span.media-heading
                  | Anna 
                  strong Opichia
                small
                  i.fa.fa-map-marker
                  |  Budapest, Hungary
                span.badge.badge-outline.status
          li.busy
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/random-avatar1.jpg', alt='')
              .media-body
                span.media-heading
                  | Lucius 
                  strong Cashmere
                small
                  i.fa.fa-map-marker
                  |  Wien, Austria
                span.badge.badge-outline.status
          li.online
            .media
              a.pull-left.thumb.thumb-sm(href='javascript:;')
                img.media-object.img-circle(src='images/ici-avatar.jpg', alt='')
              .media-body
                span.media-heading
                  | Ing. Imrich 
                  strong Kamarel
                small
                  i.fa.fa-map-marker
                  |  Ulaanbaatar, Mongolia
                span.badge.badge-outline.status
      tab(heading='Long Justified')
        tab-heading
          fa(name='cog')
        h6
          strong Chat
          |  Settings
        ul.settings
          li
            .form-group
              label.col-xs-8.control-label Show Offline Users
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-offline.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='')
                  label.onoffswitch-label(for='show-offline')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
          li
            .form-group
              label.col-xs-8.control-label Show Fullname
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-fullname.onoffswitch-checkbox(type='checkbox', name='onoffswitch')
                  label.onoffswitch-label(for='show-fullname')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
          li
            .form-group
              label.col-xs-8.control-label History Enable
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-history.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='')
                  label.onoffswitch-label(for='show-history')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
          li
            .form-group
              label.col-xs-8.control-label Show Locations
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-location.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='')
                  label.onoffswitch-label(for='show-location')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
          li
            .form-group
              label.col-xs-8.control-label Notifications
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-notifications.onoffswitch-checkbox(type='checkbox', name='onoffswitch')
                  label.onoffswitch-label(for='show-notifications')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
          li
            .form-group
              label.col-xs-8.control-label Show Undread Count
              .col-xs-4.control-label
                .onoffswitch.greensea
                  input#show-unread.onoffswitch-checkbox(type='checkbox', name='onoffswitch', checked='')
                  label.onoffswitch-label(for='show-unread')
                    span.onoffswitch-inner
                    span.onoffswitch-switch
