.page.page-core.page-login
  .text-center
    h3.text-light.text-white
      span.text-lightred M
      | M
    .container.w-420.p-15.bg-white.mt-40.text-center
        h2.text-light.text-greensea Sign Up
        form.form-validation.mt-20(name='form', ng-submit='register(form)', novalidate='')
          p.help-block.text-left
            | Enter your personal details below:
          .form-group
            input.form-control.underline-input(type='text', placeholder='Full Name', ng-model='user.name', required='')
          .form-group
            input.form-control.underline-input(type='email', placeholder='Email', ng-model='user.email', required='')
          .form-group
            input.form-control.underline-input(type='password', placeholder='Password', ng-model='user.password', required='')
          .form-group.text-left
            label.checkbox.checkbox-custom.checkbox-custom-sm.inline-block
              input(type='checkbox', ng-model='user.accept', required='')
              i
              |  I agree to the 
              a(href='javascript:;') Terms of Service
              |  &amp; 
              a(href='javascript:;') Privacy Policy
          .bg-slategray.lt.wrap-reset.mt-20.text-left
            p.m-0
              button.btn.btn-greensea.b-0.text-uppercase.pull-right(type='submit', ng-disabled='form.$invalid') Register
              a.btn.btn-lightred.b-0.text-uppercase(ui-sref='login') Login
              .social-login.text-left
                br
                ul.pull-right.list-unstyled.list-inline
                  li.p-0
                    a.btn.btn-sm.btn-primary.b-0.btn-rounded-20(href='javascript:;', ng-click='loginOauth("facebook")')
                      i.fa.fa-facebook
                      | &#x9;&#x9;&#x9;&#x9;
                  li.p-0
                    a.btn.btn-sm.btn-info.b-0.btn-rounded-20(href='javascript:;', ng-click='loginOauth("twitter")')
                      i.fa.fa-twitter
                      | &#x9;&#x9;&#x9;&#x9;
                  li.p-0
                    a.btn.btn-sm.btn-lightred.b-0.btn-rounded-20(href='javascript:;', ng-click='loginOauth("google")')
                      i.fa.fa-google-plus
                      | &#x9;&#x9;&#x9;&#x9;
                  li.p-0
                    a.btn.btn-sm.btn-primary.b-0.btn-rounded-20(href='javascript:;')
                      i.fa.fa-linkedin
                      | &#x9;&#x9;&#x9;
            h5 Or signup with