.page.page-hz-menu
  .pageheader
    h2
      | {{page.title}} 
      span // {{page.subtitle}}
    .page-bar
      ul.page-breadcrumb
        li
          a(ui-sref='main.dashboard')
            i.fa.fa-home
            |  {{main.title}}
        li
          a(ui-sref='main.actions.list') {{page.title}}
